.time-machine {/*親div*/
  position: relative;/*相対配置*/
  }

.time-machine p{
    color:aliceblue;
    position: absolute;
    font-size:2em;
    font-weight:bold;
    font-family: 'Shippori Mincho', serif;
    top:0;
    left:0;
}

.time-machine img {
  width: 100%;
  }