.time-machine{
    position: relative;
}

.time-machine img{
    width:100%;
    display:block;
}

.text{
    position:absolute;
    top:20%;
    left:8%;
    color:white;
}

.text p{
    margin:0;
    font-size:48px;
    line-height:1.5; /* 行間 */
    font-family: 'Sippori Mincho',serif;
}